.card__container {
    max-width: 1024px;
    min-height: 400px;
    /* background-color: black; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 64px;
    margin-top: 10px;
}

.card-image__container {
    width: 200px;
    height: 250px;

    border-radius: 20px;
    position: relative;
}

.card-image__container > img {
    height: 100%;
    width: 100%;

    position: absolute;
    object-fit: cover;
}